@model AcunMedyaFurniter.DAL.Entities.ContactInfo

@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">İletişim Bilgilerini Güncelle</h4>
        </div>
        <div class="card-body">
            <form asp-action="UpdateContact" asp-controller="Contact" method="post">
                <input type="hidden" id="ContactID" name="ContactID" value="@Model.ContactInfoID" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Adres</label>
                            <input id="Name" name="Name" type="text" class="form-control" value="@Model.Adsress" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Email</label>
                            <input id="Email" name="Email" type="email" class="form-control" value="@Model.Email" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Telefon</label>
                            <input id="Phone" name="Phone" type="text" class="form-control" value="@Model.Phone" required />
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer border-0">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                    <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index", "Contact")'">İptal</button>
                </div>
            </form>
        </div>
    </div>
</div>
