@model List<AcunMedyaFurniter.DAL.Entities.Team>

@{

    Layout = "~/Views/AdminLayout/Index.cshtml"; // Layout dosyasının yolunu kontrol edin
}

<div class="card">
    <div class="card-header">
        <div class="card-title">Ekibimiz </div>
    </div>
    <div class="card-body">
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad Soyad </th>
                    <th scope="col">Başlık</th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Resim</th>
                    <th scope="col">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>

                            <td>@item.NameSurname</td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td><img src="@item.ImageUrl" style="width:50px;height:50px" /></td>
                            <td>
                                <form method="post" action="@Url.Action("DeleteTeam", new { id = item.TeamId })" style="display:inline;">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Bu ürünü silmek istediğinizden emin misiniz?')">Sil</button>
                                </form>

                                <a asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@item.TeamId" class="btn btn-outline-success">Güncelle</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">No products found.</td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="CreateTeam" asp-controller="Team" class="btn btn-outline-warning">Ekip Üyesi Ekle</a>
    </div>
</div>
